body
{
    size: 16px;
    padding: 0px;
    min-width: 400px;
    min-height: 500px;
    background-color: linear-gradient(violet,indigo,blue,green,yellow,orange,red);
    
}
.card
{
    position: absolute;
    bottom: -150px;
    left: 20px;
    width: 200px;
    height: 400px;
    align-items:center;
    border-radius: 20px;
    transform-origin: left bottom;
    border: 3px solid rgb(254, 3, 3);
    transition: 1s;
    box-shadow: 1px 1px 1px white;
}